h1, h2, tbody tr td:nth-child(1) {
    color: orange;
    background-color: white;
}
h1 {
    text-align: right;
}
h2 {
    text-align: left;
}
div#warehouse h2 {
    color: blue;
}
p:first-letter {
    color: red;
    font-size: 30px;
    font-weight: bold;
}
em, tbody tr {
    color: white;
    background-color: green;
}
ul > li, thead {
    font-weight: bold;
}
ol > li {
    font-weight: normal;
}
#allotment ol.fruits-list li {
    color: gray;
}
#warehouse ol.fruits-list li {
    color: green;
}
ol.vegetables-list li {
    color: red;
}